@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "swiper/css/swiper.min.css";

h1 {
    @apply font-sans font-black text-3xl leading-none;
}
h2 {
    @apply font-sans font-semibold text-2xl leading-none;
}
a {
    @apply text-pink-400;
    transition: color 200ms;

    &:hover, &:active, &:focus {
        @apply text-pink-300;
    }
}

#app {
    main {
        padding-top: 15vh;
        min-height: 100vh;
    }
}
#app-header {
    height: 10vh;
    line-height: 10vh;
}
.swiper-pagination-progressbar {
    background: rgba(255, 255, 255, 1);
    @apply bg-pink-700;

    .swiper-pagination-progressbar-fill {
        @apply bg-pink-400;
    }
}
.swiper-pagination-bullet {
    @apply bg-pink-700 border-2 border-white w-3 h-3;

    &.swiper-pagination-bullet-active {
        @apply bg-pink-400;
    }
}
